// color shades https://mdigi.tools/color-shades/

// colours
$color-primary: #00ad9d;

// originated from the primary color
$color-black: #000a09;
$color-gray: #b9b9b9;
$color-gray-dark: #004741;
$color-text: #001f1c;

// base colors
$color-white: #ffffff;
$color-background: #f8f8f8;
$color-error: #e84118;

// box-shadow
$box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);

// mix
$padding: 1rem 6% 2rem;
$border: 01px solid $color-gray;
$border-radius: 4px;
