form {
    
    label {
        display: block;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        display: inline-block;
        padding: 0.35em 1.05em;
        margin-right: 1rem;
        border: $border;
    }

    button {
        display: block;
        margin-top: 01rem;
        margin-left: auto;
        background-color: $color-primary;
        color: $color-white;

        &:hover,
        &:focus {
            background-color: darken($color-primary, 15%);
        }
    }
}
