header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 6%;
    background-color: $color-primary;

    img {
        width: clamp(8rem, 15vw, 15rem);
        // change svg color
        filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(77deg) brightness(106%) contrast(101%);
    }
}
