ul {
    padding: 02rem 0 0 0;
    li {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $border;

        div {
            width: max(75%);
            word-break: break-all;

            @include tablet {
                width: 90%;
            }

            input {
                margin-right: 1rem;
                cursor: pointer;
                accent-color: $color-primary;
            }

            input:checked {
                text-decoration: line-through;
                & ~ label {
                    color: $color-gray;
                     text-decoration: line-through;
                }
            }
           
        }

        button {
            margin-left: auto;
            background-color: transparent;
            color: $color-primary;
            border: 01px solid $color-primary;

            &:hover,
            &:focus {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }
}
